*{
    padding: 0;
    margin: 0;
}

nav a{
    text-decoration: none;
    color: black;
    padding-right: 40px;
}

.line{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 1442px;
}

.baseline{
    background-image:url(Picture.png);
    
}

.baseline p{
    padding-bottom: 351px;
    color: ghostwhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    font-family: font-family: 'Inter', sans-serif;;
    padding-top: 273px;
    color:ghostwhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}